#homepage
  #homepage-title.image-gallery.fullscreen.background.parallax{:style => "background-image:url(\"#{@main_photo.image.url}\");", 'data-img-width' => @main_photo.image_width, 'data-img-height' => @main_photo.image_height, 'data-diff' => 200, 'data-images' => @homepage_photos }
    %h1
      = t('app_name')
    .scroll-pls
      %span.fa.fa-angle-double-down
  #homepage-manifest.not-fullscren.parallax.box
    %h2
      %span= t('homepage.manifest1')
      %span= t('homepage.manifest2')
    %h3= t('homepage.subtitle')
    .scroll-pls
      .info= t('homepage.whats_up')
      %span.fa.fa-angle-double-down
  - if @latest_post
    #homepage-latest.post-box.fullscreen.background.parallax{:style => "background-image:url(\"#{@latest_post.header_image.url}\");", 'data-img-width' => @latest_post.header_image_width, 'data-img-height' => @latest_post.header_image_height, 'data-diff' => 200, :class => "#{'inverted' if @latest_post.inverted_title}"}
      = link_to post_path(@latest_post) do
        %h2= @latest_post.title
        .post-summary= @latest_post.summary
  #homepage-latest-posts
    = link_to t('homepage.latest_posts'), latest_posts_path
  #homepage-travel-data
    #homepage-timer.data-section{'data-when' => '2015-04-21 21:26', :title => t('homepage.start_date'), 'data-template' => t('homepage.timer_template')}
    #homepage-odometer.data-section{'data-km' => HomepageSetting.value(:odometer), 'data-when' => HomepageSetting.by_slug(:odometer).updated_at.strftime("%Y-%m-%d %H:%M"), :title => t('homepage.counter_disclaimer'), 'data-template' => t('homepage.counter_template')}
    .scroll-pls
      .info= t('homepage.where_are_we')
      %span.fa.fa-angle-double-down
  #homepage-map.init{'data-locations' => @locations.to_json, :class => "#{'no-init' if Rails.env.development?}"} Loading Google Maps...

  = render 'shared/fb_like_page' unless Rails.env.development?
  = render 'shared/footer'
