#homepage
  #homepage-title.image-gallery.fullscreen.background.parallax{:style => "background-image:url(\"#{@main_photo.image.url}\");", 'data-img-width' => @main_photo.image_width, 'data-img-height' => @main_photo.image_height, 'data-diff' => 200, 'data-images' => @homepage_photos }
    %h1
      = t('app_name')
    .scroll-pls
      %a.fa.fa-angle-double-down{:href => '#homepage-manifest'}
  #homepage-manifest.not-fullscren.parallax.box
    %h2
      %span= t('homepage.manifest1')
      %span= t('homepage.manifest2')
    %h3= t('homepage.subtitle')
    .scroll-pls
      .info= t('homepage.where_are_we')
      %a.fa.fa-angle-double-down{:href => '#homepage-map'}
  #homepage-map.init{:class => "#{'no-init' if Rails.env.development?}"} Loading Google Maps...
  #homepage-travel-data.units-row
    #homepage-timer.data-section.unit-30{'data-when' => '2015-04-21 21:26', :title => t('homepage.start_date')}
      %span.fa.fa-calendar
      %span.value
      = t('homepage.timer_description')
    #homepage-odometer-bike.data-section.unit-30{'data-km' => HomepageSetting.value(:odometer_bike), 'data-when' => HomepageSetting.by_slug(:odometer_bike).updated_at.strftime("%Y-%m-%d %H:%M"), :title => t('homepage.counter_disclaimer')}
      %span.fa.fa-bicycle
      %span.value
      m
    #homepage-odometer-car.data-section.unit-30
      %span.fa.fa-car
      %span.value= HomepageSetting.value(:odometer_car)
      km
    #homepage-odometer-train.data-section.unit-30
      %span.fa.fa-train
      %span.value= HomepageSetting.value(:odometer_train)
      km
    #homepage-odometer-ship.data-section.unit-30
      %span.fa.fa-ship
      %span.value= HomepageSetting.value(:odometer_ship)
      km
    #homepage-odometer-plane.data-section.unit-30
      %span.fa.fa-plane
      %span.value= HomepageSetting.value(:odometer_plane)
      km
    .scroll-pls
      .info= t('homepage.whats_up')
      %a.fa.fa-angle-double-down{:href => '#homepage-latest'}
  - if @latest_post
    #homepage-latest.post-box.fullscreen.background.parallax{:style => "background-image:url(\"#{@latest_post.header_image.url}\");", 'data-img-width' => @latest_post.header_image_width, 'data-img-height' => @latest_post.header_image_height, 'data-diff' => 200, :class => "#{'inverted' if @latest_post.inverted_title}"}
      = link_to post_path(@latest_post) do
        - if @latest_post.s_letter
          .title-prefix= t('posts.specials.letter')
        %h2= @latest_post.title
        .post-summary= @latest_post.summary
  #homepage-post-list
    #homepage-all-posts-link.homepage-place-link
      = link_to t('homepage.latest_posts'), latest_posts_path
    %ul#homepage-posts-specials.blocks-3.blocks-mobile-50
      %li.homepage-special-link
        = link_to specific_posts_path(:special => 'movie') do
          %span.fa.fa-video-camera
          = t('posts.specials.movie')
      %li.homepage-special-link
        = link_to specific_posts_path(:special => 'photostory') do
          %span.fa.fa-camera
          = t('posts.specials.photostory')
      %li.homepage-special-link
        = link_to specific_posts_path(:special => 'letter') do
          %span.fa.fa-envelope
          = t('posts.specials.letter')
    .scroll-pls
      .info= t('homepage.post_categories')
      %a.fa.fa-angle-double-down{:href => '#homepage-posts-categories'}
  %ul#homepage-posts-categories.blocks-4.blocks-mobile-50

    - @places.each do |place|
      %li.homepage-place-link{:style => "background-image:url(\"#{place.posts.first.header_image.url(:medium)}\");"}
        = link_to place.name, placed_posts_path(:place => place.slug)
  = render 'shared/fb_like_page' unless Rails.env.development?
  = render 'shared/footer'
  - content_for :javascripts do
    = javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"
    = javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"

