= simple_form_for [:admin, @place] do |f|

  %fieldset
    %legend Edit place
    = f.input :name, input_html: { class: 'width-50' }
    = f.input :slug, input_html: { class: 'width-50' }
    = f.input :description, :as => :text, :label => 'Keywords'

  .actions
    = f.submit 'Save', :class => 'btn btn-big btn-blue'
