%table
  %thead
    %tr
      %th Title
      %th Summary
      %th Times Viewed
      %th.actions &nbsp;
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.summary
        %td= post.impressions_count
        %td
          = link_to 'Edit', [:admin, post]
          = link_to 'View', post

= link_to 'New Post', new_admin_post_path
