.post-list-container
  .post-list-element
    = link_to post do
      = image_tag(post.header_image.url(:medium))
    .post-info
      = link_to post do
        %h3= post.title
      = post.summary
      .data-box
        %span.published_at= post.published_at
        - unless post.place.nil?
          %span.place
            = link_to post.place.name, placed_posts_path(:place => post.place.slug)
        %span.read_more
          = link_to t('posts.read_more'), post
