#posts-list
  - if @posts.size > 0
    .post-box.image-gallery.fullscreen.background.parallax{:style => "background-image:url(\"#{@main_photo.image.url}\");", 'data-img-width' => @main_photo.image_width, 'data-img-height' => @main_photo.image_height, 'data-diff' => 200, 'data-images' => @homepage_photos }
      %h1= link_to t('app_name'), root_path
      %h2= @title
      .scroll-pls
        %span.fa.fa-angle-double-down
    .info.not-fullscren
      = @description
    = render @posts

  - else
    #post-actions
      Ups, nic tu nie ma.
      %hr
      = link_to '#' do
        %span.fa.fa-arrow-up
        = t('posts.show.top')
      = link_to root_path do
        %span.fa.fa-home
        = t('posts.show.home')

  = render 'shared/footer'
