#posts-list
  - if @posts.size > 0
    #post-list-header.image-gallery.fullscreen.background.parallax{:style => "background-image:url(\"#{@posts.first.header_image.url}\");", 'data-img-width' => @posts.first.header_image_width, 'data-img-height' => @posts.first.header_image_height, 'data-diff' => 200, 'data-images' => @post_photos }
      %h1= link_to t('app_name'), root_path
      %h2= @title
      .scroll-pls
        %span.fa.fa-angle-double-down
    #posts-endless-list
      = render @posts
    - unless @posts.last_page?
      #pagination-link.btn.btn-big.btn-outline{'data-next-page' => t('posts.next_page'), 'data-error' => t('posts.error_loading_next_page')}= link_to_next_page(@posts, t('posts.more_posts'), :remote => true)

  - else
    #post-actions
      = t('posts.no_posts')
      %hr
      = link_to '#' do
        %span.fa.fa-arrow-up
        = t('posts.show.top')
      = link_to root_path do
        %span.fa.fa-home
        = t('posts.show.home')

  = render 'shared/footer'
