#post-content
  #main-post-image.image-gallery.post-box.fullscreen.background.parallax{:style => "background-image:url(#{@post.header_image.url});", 'data-img-width' => @post.header_image_width, 'data-img-height' => @post.header_image_height, 'data-diff' => 200, 'data-mfp-src' => @post.header_image.url, :class => "#{'inverted' if @post.inverted_title}"}
    .content
      %h1= @post.title
    .scroll-pls
      %span.fa.fa-angle-double-down
  = PostContentPresenter.new(@post).content

  - unless @post.video_link.blank?
    #post-video
      %iframe.yt-video{:src => @post.video_link, :frameborder => 0, :allowfullsreen => true}

  = render 'shared/fb_comments'

  #post-data
    %span.published-at{:title => t('posts.show.published_at')}
      %span.fa.fa-calendar-o
      = @post.published_at
    - unless @post.place.nil?
      = link_to placed_posts_path(:place => @post.place.slug), :title => t('posts.show.more_from_here') do
        %span.fa.fa-globe
        = @post.place.name
    = link_to '#' do
      %span.fa.fa-arrow-up
      = t('posts.show.top')
    = link_to root_path do
      %span.fa.fa-home
      = t('posts.show.home')
  #posts-navigation
    - if @previous_post
      #previous-post.goto-post
        = link_to post_path(@previous_post) do
          %span.arrow
            %span.fa.fa-arrow-left
            = t('posts.show.previous')
          = image_tag @previous_post.header_image.url, :class => 'goto-post-image', :title => @previous_post.title
          %h4= @previous_post.title
    - if @next_post
      #next-post.goto-post
        = link_to post_path(@next_post) do
          %span.arrow
            = t('posts.show.next')
            %span.fa.fa-arrow-right
          = image_tag @next_post.header_image.url, :class => 'goto-post-image', :title => @next_post.title
          %h4= @next_post.title

  - if @post.footer_image_defined?
    #footer-post-image.image-gallery.fullscreen.background.parallax{:style => "background-image:url(\"#{@post.footer_image.url}\");", 'data-img-width' => @post.footer_image_width, 'data-img-height' => @post.footer_image_height, 'data-diff' => 200, 'data-mfp-src' => @post.footer_image.url}



  = render 'shared/footer'
