#post-content
  - if @post.photostory?
    #photostory-init
      %span.fa.fa-spinner.fa-pulse
      .message= t('posts.photostory_initializing')
  #main-post-image.image-gallery.post-box.fullscreen.background.parallax{:style => "background-image:url(#{@post.header_image.url});", 'data-img-width' => @post.header_image_width, 'data-img-height' => @post.header_image_height, 'data-diff' => 200, 'data-mfp-src' => @post.header_image.url, :class => @post_presenter.class_for_post_image, :title => @post.title}
    .content
      %h1= @post.title
    .scroll-pls
      %span.fa.fa-angle-double-down
  #post-data-header
    %span.published-at{:title => t('posts.show.published_at')}
      %span.fa.fa-calendar-o
      = @post.published_at
    - unless @post.place.nil?
      %span
        = link_to placed_posts_path(:place => @post.place.slug), :title => t('posts.show.more_from_here') do
          %span.fa.fa-globe
          = @post.place.name
  = @post_presenter.content

  - unless @post.video_link.blank?
    #post-video
      %iframe.yt-video{:src => @post.video_link, :frameborder => 0, :allowfullsreen => true}

  = render 'shared/fb_comments'

  #post-data
    %span
      = link_to latest_posts_path do
        %span.fa.fa-list
        = t('posts.show.back_to_list')
    %span
      = link_to root_path do
        %span.fa.fa-home
        = t('posts.show.home')
  #posts-navigation
    #previous-post.goto-post
      - if @previous_post
        = link_to post_path(@previous_post), :title => @previous_post.title do
          %span.arrow
            %span.fa.fa-arrow-left
            = t('posts.show.previous')
          .post-link{:style => "background-image:url(#{@previous_post.header_image.url(:medium)});"}
            %h4{:class => "#{'inverted' unless @previous_post.inverted_title}"}= @previous_post.title
      - else
        .no-goto-post
          %span.fa.fa-smile-o
          %span.new-posts-incoming= t('posts.show.first_post')
    #next-post.goto-post
      - if @next_post
        = link_to post_path(@next_post), :title => @next_post.title do
          %span.arrow
            = t('posts.show.next')
            %span.fa.fa-arrow-right
          .post-link{:style => "background-image:url(#{@next_post.header_image.url(:medium)});"}
            %h4{:class => "#{'inverted' unless @next_post.inverted_title}"}= @next_post.title
      - else
        .no-goto-post
          %span.fa.fa-smile-o
          %span.new-posts-incoming= t('posts.show.new_posts_incoming')


  - if @post.footer_image_defined?
    #footer-post-image.image-gallery.fullscreen.background.parallax{:style => "background-image:url(\"#{@post.footer_image.url}\");", 'data-img-width' => @post.footer_image_width, 'data-img-height' => @post.footer_image_height, 'data-diff' => 200, 'data-mfp-src' => @post.footer_image.url}



  = render 'shared/footer'
