#post-content
  #main-post-image.image-gallery.post-box.fullscreen.background.parallax{:style => "background-image:url(#{@post.header_image.url});", 'data-img-width' => @post.header_image_width, 'data-img-height' => @post.header_image_height, 'data-diff' => 200, 'data-mfp-src' => @post.header_image.url, :class => "#{'inverted' if @post.inverted_title}"}
    .content
      %h1= @post.title
    .scroll-pls
      %span.fa.fa-angle-double-down
  = @post.parsed_content

  - unless @post.video_link.blank?
    #post-video
      %iframe.yt-video{:src => @post.video_link, :frameborder => 0, :allowfullsreen => true}

  = render 'shared/fb_comments'

  #post-actions
    %span.published-at
      %span.fa.fa-calendar-o
      = @post.published_at
    - unless @post.place.nil?
      = link_to placed_posts_path(:place => @post.place.slug) do
        %span.fa.fa-globe
        = @post.place.name
    = link_to '#' do
      %span.fa.fa-arrow-up
      = t('posts.show.top')
    = link_to root_path do
      %span.fa.fa-home
      = t('posts.show.home')

  - if @post.footer_image_defined?
    #footer-post-image.image-gallery.fullscreen.background.parallax{:style => "background-image:url(\"#{@post.footer_image.url}\");", 'data-img-width' => @post.footer_image_width, 'data-img-height' => @post.footer_image_height, 'data-diff' => 200, 'data-mfp-src' => @post.footer_image.url}



  = render 'shared/footer'
