!!!
%html
  %head
    %title= "#{t('app_name')} | admin panel"
    %link{ :rel => 'shortcut icon', :href => '/favicon.png'}
    %meta{ :charset => "UTF-8" }
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag "admin", :media => "all"
    = csrf_meta_tags
  %body
    #notice= notice
    #admin-panel
      %h1= page_title
      = render 'admin/shared/navbar'
      = yield
    = javascript_include_tag "admin"