!!!
%html{:lang => t('app_language')}
  %head
    = render 'shared/metadata'

    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body
    = render 'shared/fb_app'
    = render 'shared/navigation'
    = yield
    = javascript_include_tag "application"
    = render 'shared/ga' if Rails.env.production?
    = yield :javascripts

